.DS_Store
config/development.json
config/prototype.json

.sass-cache

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb
*.swp

pids
logs
results

node_modules
static/frontend/*
!static/frontend/images
!static/frontend/css
static/frontend/css/*
npm-debug.log
